body {
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}
p {
    font-family: "PT Serif", serif;
    text-align: left;
    font-size: 16px;
}

#statsCon {
    float: left;
    margin-top: 5px;
    width: 100%;
}
#statsCon .emptySlot {
    height: 25px;
    border: 1px dashed #CCC;
    margin-top: 2px;
}
#statsCon .emptySlot p {
    font: 10px "Open Sans", sans-serif;
    color: #CCC;
    text-align: center;
    margin-top: 7px;
}
#statsCon .emptySlot-highlight {
    border: 1px dashed #000;
}
#statsCon #statsAll {
    margin-top: 10px;
}
#statsCon .statsCheck {
    float: left;
    position: relative;
    top: 4px;
    left: 3px;
    margin-right: 7px;
}
#statsCon .statsPlaceHolder {
    height: 25px;
    border: 1px solid #DDD;
    margin-top: 2px }

button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    line-height: 28px;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #136DF8;
    color: white;
    height: 43px;
    border: 0;
    padding: 0 25px;
}

#statsCon .dragger { 
	min-height: 25px;
    border: 1px solid #DDD;
    margin-top: 2px;
    
    margin-right: 20px;
	background-image: linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);
	background-image: -o-linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.72, rgb(236,236,236)),
		color-stop(0.51, rgb(226,226,226))
	);
	
}
#statsCon .dragger:hover {
    cursor: move;
}
#statsCon #a0,#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9 {
    position: relative;
}

.dragger p { 
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0 0 4px;
    text-shadow: 0.1em 0.1em #CCC;
}
.dragger img {
    float: left;
    margin: 10px 5px 0 10px }

.urank {
    font: 13px "Open Sans", sans-serif;
    font-weight: bold;
    color: rgb(143, 50, 83);
     margin: 3px 4px 3px 1px;
    float: right;
    text-transform: none;
}
.voteperc {
    font: 11px "Open Sans", sans-serif;
    font-weight: bold;
    color: rgb(36, 58, 172);
    margin: 3px 4px 7px 4px;
    text-transform: none;
}

.hide {
    display: none;
}

@media (max-width: 500px) {
	.module .main .teamModule {
        margin-bottom: 50px;
        border-top: 1px solid #CCC;
        padding-top: 10px;
    }
	#teamModules {
        border-top: none;
    }
}

